@font-face {font-family: "AmplitudeWide-Light";
    src: url("AmplitudeWideLight.eot"); /* IE9*/
    src: url("AmplitudeWideLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AmplitudeWideLight.woff2") format("woff2"), /* chrome firefox */
    url("AmplitudeWideLight.woff") format("woff"), /* chrome firefox */
    url("AmplitudeWideLight.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    /* url("AmplitudeWideLight.svg#AmplitudeWideLight") format("svg");  iOS 4.1- */
}

@font-face {font-family: "AmplitudeWide-Regular";
    src: url("AmplitudeWideRegular.eot"); /* IE9*/
    src: url("AmplitudeWideRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("AmplitudeWideRegular.woff2") format("woff2"), /* chrome firefox */
    url("AmplitudeWideRegular.woff") format("woff"), /* chrome firefox */
    url("AmplitudeWide-Regular.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    /* url("AmplitudeWideRegular.svg#AmplitudeWideRegular") format("svg");  iOS 4.1- */
}