.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
    height: 48px;
}

.MuiSelect-outlined.MuiSelect-outlined {
    padding-right: 32px;
    margin-top: 10px;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink{
    transform:translate(14px,20px) scale(0.75) !important;
}

.MuiPickersModal-dialogRoot{
    margin-top: 180px !important;
    min-width: 400px !important;
    margin-left: -100px !important;
}